<section class="sidebar">
	<!-- <div class="user-panel" ng-include="'/template/menu/user.html'"></div> -->
	<!-- <div ng-include="'/template/menu/searchForm.html'"></div> -->
	<ul class="sidebar-menu">
		<li class="header">NAVEGAÇÃO PRINCIPAL</li>
		<li>
			<a ui-sref="lista-de-personagens">
				<i class="fa fa-list"></i> <span>Listagem de Personagens</span>
			</a>
		</li>

		<li class="header">TECNOLOGIAS</li>
		<li>
			<a href="https://angularjs.org" target="_blank">
				<i class="fa fa-circle-o text-aqua"></i> <span>AngularJS</span>
			</a>
		</li>
		<li>
			<a href="https://developer.marvel.com/docs#!/public/getCreatorCollection_get_0" target="_blank">
				<i class="fa fa-circle-o text-aqua"></i> <span>Marvel API Rest</span>
			</a>
		</li>
	</ul>
</section>
