<section class="content" ng-controller="CharacterDetailCtrl as CharDetCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <img width="100%" src="{{CharDetCtrl.character.thumbnail.path+'.'+CharDetCtrl.character.thumbnail.extension}}"
          alt="" class="">
      </div>
      <div class="col-lg-6">
        <h1 class="default-title">{{ CharDetCtrl.character.name }}</h1>
        <div>{{ CharDetCtrl.character.description }}</div>
      </div>
    </div>
  </div>
</section>